* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Sprinkle.svg);
    background-size: cover;
    background-repeat: no-repeat;

}

.contenedor {
    gap: .5rem;
    border-radius: 1rem;
    width: 360px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 150px 253px 90px;
    grid-template-areas:
        "header header"
        "section PLateral"
        "boton boton"
    ;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

@media screen and (min-width:768px) {
    .contenedor {
        grid-template-rows: 200px 250px 100px;
        width: 500px;

    }
}

header {
    border-radius: 1rem 1rem 0 0;
    background-color: #0000008d;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;

}

section {
    gap: .5rem;
    grid-area: section;
    padding: 0 0 .5rem .35rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 1fr));
    grid-template-rows: repeat(3, 80px);
}

section.cero {
    width: 254px;
    margin: .25rem 0 .5rem 0;
    display: flex;
    grid-area: boton;
}

section.cero>button {
    width: 100%;
    height: 80px;
}

section.bFuncion {
    padding: 0 .25rem 0 .5rem;
    grid-area: PLateral;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 167px);
    gap: .5rem;
}

@media screen and (min-width:768px) {

    section{
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        grid-template-rows: repeat(3, 80px);
        padding: 0 0 0 .35rem;
    }
    section.cero{
        width: 254px;
    }
    section.cero>button{
        height: 76px;
    }
    section.bFuncion{
        grid-template-rows: repeat(2, 167px);
    }
}

/* @media screen and (min-width:1024px) {

    section{
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        grid-template-rows: repeat(3, 80px);
    }
    section.cero{
        width: 254px;
    }
    section.cero>button{
        height: 76px;
    }
    section.bFuncion{
        grid-template-rows: repeat(2, 167px);
    }
} */

button {
    color: azure;
    font-size: 2rem;
    font-weight: bold;
    background-color: #0000008d;
    border: 2px solid black;
    border-radius: 10px;
}

button:hover {
    background-color: #0000004d;
    border-color: #ffffff10;
}

button:active {
    color: aqua;
    border-color: #ffffff10;
}

#barra {
    font-weight: bold;
    font-size: 2rem;
    color: azure;
    position: relative;

}

#barra::before {
    position: absolute;
    content: " ";
    right: -10px;
    height: 40px;
    border-right: solid deepskyblue 5px;
    animation: pulse .3s linear infinite alternate;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}